body {
	margin: 5px; 
	height: 100%; 
	overflow: hidden;
	position: relative;
}
html, body {margin: 0; height: 100%; overflow: hidden}
* {
	touch-action: manipulation;
	user-select: none;
}

div, button, span, label {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.BtnCol {
	display: flex;
	/*
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(200px, auto);
*/
}

.BtnRow {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.SmallGrid {
	grid-auto-rows: minmax(10px, auto);
}

.FlexCell {
	margin-right: 500px;
	margin: 5px;
	width: 19px;
}
.FlexLabel {
	text-align: center;
	font-size: 10vw;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.col2 {
	grid-column: span 2;	
}

.ScoutLabel, .ScoutBtn {
	width: 100%;
	height: 13vh;
	/*
		background-color: #AAAAAA;
	*/
	border-radius: 10px;
	text-decoration: none;
	font-size: 4vh;
	border: 0px solid #880000;
	margin: 5px;
}
.ScoutBtn {
	touch-action: manipulation;
}
.ScoutBtn:active {
	background-color: #9A9A9A;
	/*border-radius: 5px;*/
}

#rungRange {


}
label {
}
.btnOn {
	background-color: #098;
	border: 0px solid #006600;
}
.btnOn:active {
}

.btnOff {
	background-color: #e08b02; /*#950908; /*#BA1200*/;
	border: none;
}
.btnOff:active {
}

.toggleBtn {
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 3vh;
	width: 45%;
	height: 80%;
	font-size: 2.7vw;
}
.toggleBtn:hover {
	box-shadow: 1px 1px black;
}

input[type=radio] {
	display: none;
}
input[type=radio]:checked + label {
	color: black;
	/*#BA1200;	*/
}
.rungLabel {
	padding: 12px;
	font-size: 2.5vh;
	display: inline-block;
}


select {
	background-color: #CED3DC;
	border: none;
}
/*
#mobileClimb {
	display: none;
}
#fullClimb {
	display: block;
}
*/
#mobileClimb {
	display: block;
}
#fullClimb {
	display: none;
}







