table {
	border-collapse: collapse;
}
td {
	border-bottom: 1px solid;
	text-align: left;
}
td,th {
	padding-right: 20px;	
}
.sort-btn {
	border: none;
}

tbody tr:nth-child(odd) {
  background-color: #CCC;
}

tbody tr:nth-child(even) {
  background-color: #FFF;
}
